# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Data/Variances/Variances_Electricity Generation.nc
Data/Variances/Variances_Emissions.nc
Data/Variances/Variances_Hydrogen.nc
Data/Variances/Variances_Primary Energy.nc
Data/Variances/Variances_Secondary Energy Liquids.nc
Data/Variances/Variances_Sector Industry.nc
Data/Variances/Variances_Sector Residential.nc
Data/Variances/Variances_Sector Transportation.nc
Data/XRdata.nc
Data/XRmeta.nc
Data/XRdata_lowres.nc
Data/XRmeta_lowres.nc
Data/Variances.nc
Data/Backup/
Figures/Old/
Figures/Paperfigures/Old/
Figures/Paperfigures/Version_submission1/
Figures/Boxplots/
Figures/VariancePlots/
Old/
Figures/Paperfigures/Thumbs.db
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_w_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_w_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_wo_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_wo_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_w_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_w_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_wo_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_wo_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_w_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_w_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_wo_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_wo_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Hydro_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Hydro_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Nuclear_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Nuclear_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Solar_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Solar_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Wind_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Wind_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Wind+Solar_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Wind+Solar_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Industry_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Industry_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Residential and Commercial_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Residential and Commercial_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Transportation_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Transportation_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Supply_Electricity_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Supply_Electricity_2100.html
Figures/Boxplots/Emissions/Emissions_Kyoto Gases_2050.html
Figures/Boxplots/Emissions/Emissions_Kyoto Gases_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Biomass_w_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Biomass_w_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_w_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_w_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_wo_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_wo_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_w_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_w_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_wo_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_wo_CCS_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Biomass_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Biomass_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Coal_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Coal_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Gas_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Gas_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Hydro_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Hydro_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Nuclear_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Nuclear_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Oil_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Oil_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Solar_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Solar_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Wind_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Wind_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Wind+Solar_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Wind+Solar_2100.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_2050.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_2100.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Biomass_2050.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Biomass_2100.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Oil_2050.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Oil_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Electricity_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Electricity_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Gases_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Gases_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Hydrogen_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Hydrogen_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Liquids_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Liquids_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Biomass_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Biomass_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Coal_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Coal_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Electricity_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Electricity_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Gases_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Gases_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Liquids_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Liquids_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Solids_Biomass_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Solids_Biomass_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Electricity_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Electricity_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Gases_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Gases_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Hydrogen_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Hydrogen_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Liquids_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Liquids_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Liquids_Oil_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Liquids_Oil_2100.html
Figures/VariancePlots.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_w_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_w_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_wo_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Biomass_wo_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_w_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_w_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_wo_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Coal_wo_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_w_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_w_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_wo_CCS_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Gas_wo_CCS_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Hydro_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Hydro_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Nuclear_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Nuclear_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Solar_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Solar_2100.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Wind_2050.html
Figures/Boxplots/Electricity Generation/Secondary Energy_Electricity_Wind_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Industry_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Industry_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Residential and Commercial_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Residential and Commercial_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Transportation_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Demand_Transportation_2100.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Supply_Electricity_2050.html
Figures/Boxplots/Emissions/Emissions_CO2_Energy_Supply_Electricity_2100.html
Figures/Boxplots/Emissions/Emissions_Kyoto Gases_2050.html
Figures/Boxplots/Emissions/Emissions_Kyoto Gases_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Biomass_w_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Biomass_w_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_w_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_w_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_wo_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Coal_wo_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_w_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_w_CCS_2100.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_wo_CCS_2050.html
Figures/Boxplots/Hydrogen/Secondary Energy_Hydrogen_Gas_wo_CCS_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Biomass_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Biomass_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Coal_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Coal_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Gas_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Gas_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Hydro_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Hydro_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Nuclear_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Nuclear_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Oil_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Oil_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Solar_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Solar_2100.html
Figures/Boxplots/Primary Energy/Primary Energy_Wind_2050.html
Figures/Boxplots/Primary Energy/Primary Energy_Wind_2100.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_2050.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_2100.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Biomass_2050.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Biomass_2100.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Oil_2050.html
Figures/Boxplots/Secondary Energy Liquids/Secondary Energy_Liquids_Oil_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Electricity_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Electricity_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Gases_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Gases_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Hydrogen_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Hydrogen_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Liquids_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Liquids_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Biomass_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Biomass_2100.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Coal_2050.html
Figures/Boxplots/Sector Industry/Final Energy_Industry_Solids_Coal_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Electricity_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Electricity_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Gases_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Gases_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Liquids_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Liquids_2100.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Solids_Biomass_2050.html
Figures/Boxplots/Sector Residential/Final Energy_Residential and Commercial_Solids_Biomass_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Electricity_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Electricity_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Gases_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Gases_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Hydrogen_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Hydrogen_2100.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Liquids_Oil_2050.html
Figures/Boxplots/Sector Transportation/Final Energy_Transportation_Liquids_Oil_2100.html
Figures/Paperfigures/Figure_1.html
Figures/Paperfigures/Figure_2.html
Figures/Paperfigures/Figure_3.html
Old/MinimalModel.ipynb
Old/Plots.ipynb
